<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product:</title>
</head>
<body>
    <form action="/products/edit" method="post">
        <div>ID:</div>
        ${product.id}
        <input type="hidden" name="id" value="${product.id}"/>
        <br/><br/>

        <div>Name:</div>
        <input type="text" name="name" value="${product.name}"/>
        <br/><br/>

        <div>Price:</div>
        <input type="text" name="price" value="${product.price}"/>
        <br/><br/>

        <div>Description:</div>
        <input type="text" name="description" value="${product.description!""}"/>
        <br/><br/>

        <input type="submit" value="Submit"/>
    </form>
</body>
</html>